<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./CSS/indexStyle.css" />
    <link rel="stylesheet" href="./CSS/indexStyle_Desktop.css" />
    <link rel="stylesheet" href="./CSS/classStyle.css" />
    <link rel="stylesheet" href="./CSS/teacherStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org/face/hanken"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"
      rel="stylesheet"
    />
    <title>ArtFrog Classes</title>
  </head>

  <body>
    <!-- Skip Link -->
    <a href="#main-content" id = "skipLink" aria-label = 'skip navigation link' class="visible-hidden visible-hidden:focus">Skip Navigation</a>

    <!-- Header ArtFrog logo and main navigation links here -->
    <% include ./partials/headers.ejs %>
    <main id="main-content">
      <!-- Hero Image for Art Frog Home Page     -->
      <section id="heroArt" aria-labelledby="ArtFrogMission">
        <div class="imageContainer">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="..//img/v2_web/Mobile/mobile-2.jpg"
            />
            <img
              id="heroImg"
              class="image"
              src="../img/v2_web/Desktop/desktop-2.jpg"
              alt="Hands shape clay into a small bowl on a pottery wheel."
            />
          </picture>
        </div>

        <div class="content-container">
          <h1 id="ArtFrogMission">Current Class Offerings</h1>
          <p>
            Prospective and current students will find a list of all of our
            upcoming and current classes at ArtFrog Art Academy. Please register
            for any classes that you would like to attend. Registration can be
            completed by selecting the appropriate class registration button and
            completing the registration form!
          </p>
        </div>
      </section>

      <!-- Create a section to contain the list of course offerings -->
      <div class="classesContainer">
        <% for(var i=0; i < classes.length; i++) { %>
        <section class="classContainer" aria-labelledby="className">
          <h2 id="className"><%= classes[i].class_name %></h2>
          <h3><%= classes[i].class_time %></h3>
          <ul>
            <li>Class Description: <%= classes[i].description %></li>
          </ul>
          <button onclick='window.location.assign("/register/".concat(<%= classes[i].class_id %>))'>Register for <%= classes[i].class_name %></button>
        </section>
        <% } %>
      </div>
      <!-- _________________________________________________________-->

      <div class="requestCourseContainer">
        <h2>Request A Class</h2>
        <p>
          We have many talented teachers and instructors able to offer a wide
          variety of both custom classes and accommodations for a wide array of
          creative and visual arts. Please contact us for more information about
          custom classes or accommodations.
        </p>
        <button onclick="window.location.href = '/contact';">Request Course and/or Accomodation</button>
      </div>
    </main>
    <% include ./partials/footers.ejs %>
    <script src="./javaScript/nav.js"></script>
  </body>
</html>
