<!-- <html>
  <head>
    <script>
      window.onload = () => {
        if (!localStorage.getItem('firebase_idToken'))
          window.location.replace('/admin')
      }
    </script>
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-auth.js"></script>
    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyBoeIIDXqxj0ORFk3F7YACMa6Ud0Gax12I",
        authDomain: "artfrog-8fc4e.firebaseapp.com",
        databaseURL: "https://artfrog-8fc4e.firebaseio.com",
        projectId: "artfrog-8fc4e",
        storageBucket: "artfrog-8fc4e.appspot.com",
        messagingSenderId: "72374836079",
        appId: "1:72374836079:web:46785199d39074c856669a",
        measurementId: "G-3WDWPNLVFL"
      };
      firebase.initializeApp(firebaseConfig);
    </script>
  </head>
  <body>
    <h1>Admin Panel</h1>
    <button onclick="{signOut()}">Sign Out</button>
    <script>
      const signOut = () => {
        firebase.auth().signOut();
        localStorage.removeItem('firebase_idToken');
        localStorage.removeItem('uid');
        window.location.assign("/admin");
      };
    </script>
  </body>
</html> -->


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../CSS/landingStyle.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    /> 
    <title>ArtFrog Dashboard</title>
  </head>

  <body>

    <header>
      <img src="../img/v2_web/ArtFrogLogo-02.svg" />
    </header>

    <main>
      <div class="container">

        <div class="titleBox">
          <h1>Classes</h1>
          <button>Add Class</button>
        </div>

        <div class="infoContainer">

            <div> 
              <% for(let i=0; i < dataGroup.classes.length; i++) { %>
                <h3 class="infoText infoLine "><%= dataGroup.classes[i].class_name %>
                <div class="secondBox">
                
                  <%= moment(dataGroup.classes[i].date).format("MMMM Do, YYYY | h:mm a"); %>
                  
                </div>
                <div class="buttonBox">
                  <button onclick='window.location.assign("/admin/".concat(<%= dataGroup.classes[i].class_id %>))'>Edit</button>
                  <button onclick='deleteItem({ 
                    url: "/classes/<%= dataGroup.classes[i].class_id %>",
                    id: "<%= dataGroup.classes[i].class_id %>"
                    })'>Remove</button> 
                </div>
                </h3>
              <% } %> 
            </div>

        </div>
      </div>

      <div class="container">
        <div class="titleBox">
          <h1>Students</h1>
        </div>
        
        <div> 
          <% for(let i=0; i < dataGroup.students.length; i++) { %>
            <h3 class="infoText infoLine "><%= dataGroup.students[i].first_name %> <%= dataGroup.students[i].last_name %>
            <div class="secondBox">

                <%= dataGroup.students[i].phone.replace(/\D+/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3') %>

            </div>
            <div class="buttonBox">
              <button onclick='window.location.assign("/admin/".concat(<%= dataGroup.students    [i].id %>))'>Edit</button>
                <button onclick='deleteItem({ 
                url: "/students/<%= dataGroup.students[i].id %>",
                id: "<%= dataGroup.students[i].id %>"
                })'>Remove</button>
            </div>
            </h3>
          <% } %> 
        </div>
      </div>
      
      <div class="container">
        <div class="titleBox">
          <h1>Teachers</h1>
          <button>Add Teacher</button>
        </div>
        
        <div> 
          <% for(let i=0; i < dataGroup.teachers.length; i++) { %>
            <h3 class="infoText infoLine "><%= dataGroup.teachers[i].first_name %> <%= dataGroup.teachers[i].last_name %>
            <div class="secondBox">
            </div>
            <div class="buttonBox">
              <button onclick='window.location.assign("/admin/".concat(<%= dataGroup.teachers[i].id %>))'>Edit</button>
              <button onclick='deleteItem({ 
                url: "/teachers/<%= dataGroup.teachers[i].id %>",
                id: "<%= dataGroup.teachers[i].id %>"
                })'>Remove</button>
            </div>
            </h3>
          <% } %> 
        </div>
      </div>
      
      <div class="container">
        <div class="titleBox">
          <h1>Board Members</h1>
          <button>Add Member</button>
        </div>
        
        <div> 
          <% for(let i=0; i < dataGroup.board.length; i++) { %>
            <h3 class="infoText infoLine "><%= dataGroup.board[i].first_name %> <%= dataGroup.board[i].last_name %>
            <div class="secondBox">
            </div>
            <div class="buttonBox">
              <!-- <button onclick='window.location.assign("/board/".concat(<%= dataGroup.board[i].id %>))'>Edit</button> -->
              <button onclick='editItem({
                url: "/board/<%= dataGroup.board[i].id %>",
                id: "<%= dataGroup.board[i].id %>"
                })'>Edit</button>
              <button onclick='deleteItem({ 
                url: "/board/<%= dataGroup.board[i].id %>",
                id: "<%= dataGroup.board[i].id %>"
                })'>Remove</button>
            </div>
            </h3>
          <% } %> 
        </div>
      </div>
    </main>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js></script>
    <script src="../javaScript/admin/adminLanding.js"></script>
  </body>
</html>